matrix:
  allow_failures:
    - env: CABALVER=head GHCVER=head
    - env: CABALVER=1.22 GHCVER=7.10.1

env:
 - CABALVER=1.18 GHCVER=7.6.3
 - CABALVER=1.20 GHCVER=7.8.3
 - CABALVER=1.22 GHCVER=7.10.1
 - CABALVER=head GHCVER=head

before_install:
 - sudo add-apt-repository -y ppa:hvr/ghc
 - sudo apt-get update
 - sudo apt-get install cabal-install-$CABALVER ghc-$GHCVER libicu-dev
 - export PATH=/opt/ghc/$GHCVER/bin:$PATH

install:
 - cabal-$CABALVER update
 - cabal-$CABALVER install -j Cabal
 - sudo apt-get install happy-1.19.4 alex-3.1.3
 - export PATH=/opt/alex/3.1.3/bin:/opt/happy/1.19.4/bin:$PATH
 - cabal-$CABALVER install -j --only-dependencies

script:
 - cabal-$CABALVER install -j1